@import "/src/assets/scss/main.scss";

.register {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	.registerForm {
		position: relative;
		width: 350px;
		height: 450px;
		background-color: var(--background);
		border-radius: 15px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
		padding: 20px;

		.registerReturnLogin {
			position: absolute;
			top: 20px;
			left: 20px;
			font-size: 20px;

			a {
				color: $color-gray;
				&:hover {
					color: $color-main;
				}
			}
		}

		.registerHeader {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			img {
				width: 40px;
				height: 40px;
			}

			.registerTitle {
				color: $color-main;
				font-size: 20px;
			}
		}

		.registerBody {
			margin-top: 50px;

			.registerGroup {
				height: 65px;

				.registerBox {
					display: flex;
					align-items: center;

					.registerIcon {
						width: 40px;
						height: 40px;
						color: $color-main;
						font-size: 20px;
						text-align: center;
						line-height: 40px;
					}

					.registerField {
						position: relative;
						width: 100%;
						height: 40px;

						input {
							width: 100%;
							height: 100%;
							border: 2px solid $color-gray-2;
							border-radius: 6px;
							outline: none;
							padding: 0 10px;
							font-size: 15px;
							&:focus,
							&:not(:placeholder-shown) {
								border: 2px solid $color-main;

								~ label {
									top: 0;
									left: 5px;
									font-size: 12px;
									font-weight: $fw-5;
									background: $color-light;
									color: $color-main;
									border-radius: 10px;
									padding: 0 5px;
								}
							}
							&:not(:focus) {
								border: 2px solid $color-gray-2;
								~ label {
									color: $color-gray;
								}
							}
						}

						label {
							position: absolute;
							top: 50%;
							left: 10px;
							transform: translateY(-50%);
							transition: all 0.3s;
							color: $color-gray;
							pointer-events: none;
							font-size: 14px;
						}

						.registerShowPass {
							position: absolute;
							top: 50%;
							right: 10px;
							transform: translateY(-50%);
							font-size: 20px;
							color: $color-gray;
							user-select: none;
							cursor: pointer;
						}
					}
				}

				.registerError {
					margin-left: 35px;
					margin-top: 2px;
					font-size: 13px;
					font-weight: $fw-4;
					color: $color-red;
				}
			}

			.registerButton {
				margin-top: 10px;
				text-align: center;

				button {
					@include button(
						$color-main,
						$color-light,
						none,
						6px,
						none,
						1px,
						$fw-5,
						pointer
					);
					padding: 15px 25px;
					font-size: 15px;
					opacity: 1;
					transition: all 0.3s;
					&:hover {
						opacity: 0.8;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.register {
		.registerForm {
			width: 300px;
			height: 420px;

			.registerBody {
				margin-top: 30px;
			}
		}
	}
}
