@import "/src/assets/scss/main.scss";

.trend {
	width: 100%;
	height: 100%;

	.trendTitle {
		width: 100%;

		h1 {
			font-size: 18px;
			font-weight: $fw-5;
			color: $color-main;
			margin: 15px 20px;
		}
	}

	.trendList {
		display: flex;
		padding: 0 10px;

		.trendItem {
			padding: 10px;
			flex: 1;
			cursor: pointer;
			&:hover {
				border-radius: 10px;
				background: var(--background-sub);

				.trendImage {
					img {
						transform: scale(1.03);
					}
				}
			}

			.trendImage {
				width: 100%;
				height: 180px;
				border-radius: 10px;
				overflow: hidden;

				img {
					width: 100%;
					height: 100%;
					border-radius: 10px;
					transform: scale(1);
					transition: all 0.3s linear;
				}
			}

			h1 {
				color: $color-main;
				font-size: 18px;
				font-weight: $fw-5;
				margin-top: 10px;
			}
		}
	}
}

@media screen and (max-width: 576px) {
	.trend {
		padding: 15px;

		.trendTitle {
			width: 100%;

			h1 {
				font-size: 14px;
				margin: 0;
				margin-bottom: 20px;
			}
		}

		.trendList {
			flex-direction: column;

			.trendItem {
				background: var(--background);
				margin-bottom: 15px;
				border-radius: 15px;
				padding: 15px;
				&:hover {
					background: var(--background);
				}

				.trendImage {
					height: auto;
				}

				h1 {
					font-size: 16px;
				}
			}
		}
	}
}
